<div class="title-table">
    <h1>EDITAR ALUNO</h1>
</div>
<div class="subtitle-table"><p class="nome-aluno">{{ editedAluno.nome }}</p>
</div>

<div class="content">
    <div class="input-container">
        <mat-form-field class="campo">
            <input id="nome" [(ngModel)]="editedAluno.nome" matInput placeholder="Nome">
        </mat-form-field>
        <br />
        <mat-form-field class="campo">
            <input id="matricula" [(ngModel)]="editedAluno.matricula" matInput placeholder="Matrícula" />
        </mat-form-field>
        <br />
        <mat-form-field class="campo">
            <input id="matricula" [(ngModel)]="editedAluno.nascimento" matInput placeholder="Nascimento" />
        </mat-form-field>
        <button class="button" (click)="salvarEdicao()" mat-raised-button color="primary">SALVAR</button>
    </div>
</div>