<header class="header">
    <a href="#" class="logo"><img src="../../../assets/img/academify.png" alt=""><span class="logo-title">ACADEMIFY</span></a>
    <nav>
        <ul>
            <li><a href="#" class="nav-link" routerLinkActive="active" [routerLink]="['list-alunos']" >ALUNOS</a></li>
            <li><a href="#" class="nav-link" routerLinkActive="active" [routerLink]="['create-alunos']">CRIAR ALUNO</a></li>
            <li><a href="#" class="nav-link" routerLinkActive="active" [routerLink]="['edit-alunos/:id']">EDITAR ALUNO</a></li>
        </ul>
    </nav>
</header>


