<div class="title-table">
    <h1>CADASTRAR ALUNO</h1>
</div>

<div class="content">
    <div class="input-container">
        <mat-form-field class="campo">
            <input id="nome" [(ngModel)]="nome" matInput placeholder="Nome">
        </mat-form-field>
        <br />
        <mat-form-field class="campo">
            <input id="matricula" [(ngModel)]="matricula" matInput placeholder="Matrícula" />
        </mat-form-field>
        <br />
        <mat-form-field class="campo">
            <input id="nascimento" [(ngModel)]="nascimento" matInput placeholder="Data de Nascimento" />
        </mat-form-field>
        <button class="button" (click)="adicionarAluno()" mat-raised-button color="primary">CADASTRAR</button>
    </div>
</div>