<div class="content">
    <div class="historia-moedas">
      <h1 class="historia-moedas-h1">Bem-vindo ao ACADEMIFY!</h1>
      <section class="text">
        <p>Somos o maior portal de controle de dados escolares do Brasil. Dentre nossas configurações estão disponíveis o cadastro de alunos com sua informações, além é claro da edição, exclusão e listagem desses dados de forma organizada e intuitiva.</p>
      </section>
      <section class="historia-moedas-img">
        <img src="../../assets/img/academify.png" alt="">
      </section>
    </div>
</div>
  
  
  